<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="col s12 m9 offset-m3 l10 offset-l2">
        <h4 class="headers">Contact Info</h4>

        <div class="card grey lighten-2">
          <div class="card-content white-text">
            <p style="color: #b71c1c;"><b>Phone:</b> (416) 910-4130</p>
            <p style="margin-top: 10px; color: #b71c1c;"><b>Email:</b> danielcheley@hotmail.com</p>
            <p style="margin-top: 15px;"><%= link_to image_tag('linkedin-icon.png', style:"height: 32px;"), "https://www.linkedin.com/in/daniel-cheley", target:"_blank" %></p>
            <p><%= link_to image_tag('github-icon.png', style:"height: 52px;"), "https://github.com/dcheley", target:"_blank" %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
