<!DOCTYPE html>
<html>
  <body>
    </br><a href="/"><%= image_tag('main-logo.png', class:"brand-logo") %></a>
    <div class="container">
      <div class="page">
        <h4 class="welcome" style="margin-top: 210px;">Welcome, scroll down to view more...</h4>

        <h4 class="play", style="margin-top: 310px;">Take a second.</h4>
        <h4 class="play">Play some tic-tac-toe before viewing my portfolio.</h4>
      </div>
    </div>

    <%= render 'ttt' %>

  </body>
</html>
