<!DOCTYPE html>
<html>
  <body>
    <div class="container">

      </br><a href="/" class="brand-logo"><%= image_tag('main-logo.png') %></a>


      </br></br></br></br></br></br></br>
        <h4>Welcome, scroll down to view more...</h4>
      </br></br></br></br></br></br></br></br>

    </div>

    <%= render 'ttt' %>
  </body>
</html>
