<!DOCTYPE html>
<html>
  <body>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag('laptop-chill.jpg', class:"parallax-one") %></div>

    <a href="/"><%= image_tag('main-logo.png', class:"brand-logo", style:"margin-top: 40px;") %></a>

    <h4 class="welcome" style="margin-top: 160px;">Welcome, scroll down to view more...</h4>
  </div>

  <div class="page">
    <div class="neon-glow">
      <p><%= link_to image_tag('arrow.svg', class:"intro-arrow") %></p>
    </div>

    <h4 class="play", style="margin-top: 150px;">Take a second.</h4>
    <h4 class="play">Play some tic-tac-toe before viewing my portfolio.</h4>
  </div>

  <%= render 'ttt' %>

  </body>
</html>
