<!DOCTYPE html>
<html>
  <body>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag('laptop-chill.jpg', class:"parallax-one") %></div>

      <a href="/" class="brand-logo center"><%= image_tag('main-logo.png', class:"logo") %></a>

      <div id="neon-glow">
        <p><a href=""><i class="material-icons large" id="intro-arrow">keyboard_arrow_down</i></p></a>
      </div>
    </div>

    <div class="page">
      <div id="neon-glow-2">
        <p style="margin-top: 0;"><a href=""><i class="material-icons large" id="intro-arrow">keyboard_arrow_down</i></p></a>
      </div>
    </div>

    <%= render 'ttt' %>
  </body>
</html>
