<!DOCTYPE html>
<html>
  <body>
    <div class="container">

      </br><a href="/" class="brand-logo"><%= image_tag('main-logo.png') %></a>


      <div class="page">
        <h4 class="welcome">Welcome, scroll down to view more...</h4>
      </div>

    </div>

    <%= render 'ttt' %>
  </body>
</html>
