<div class="progress-bar position"><%= image_tag('github.svg', class:'skill-icon') %></div>
<!-- Too fast -->
<div class="progress-bar position" data-percent="60" data-duration="1000"><%= image_tag('github.svg', class:'skill-icon') %></div>
<div class="progress-bar position" data-percent="20"><%= image_tag('github.svg', class:'skill-icon') %></div>

<!-- Use waves-light style & refresh icon  -->
<input type="submit" value="reload" id="reload">
