<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="col s12 m9 offset-m3 l10 offset-l2">
        <h4 class="headers">Projects</h4>

        <!-- Carousel -->
        <div class="carousel carousel-slider center" data-indicators="true">
          <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
          </div>
          <div class="carousel-item grey darken-4 white-text" href="#one!">
            <h2>Phyziq</h2>
            <p class="white-text">This is your first panel</p>
          </div>
          <div class="carousel-item grey darken-2 white-text" href="#two!">
            <h2>QSDL Website</h2>
            <p class="white-text">This is your second panel</p>
          </div>
          <div class="carousel-item grey white-text" href="#three!">
            <h2>Tic Tac Toe!</h2>
            <p class="white-text">This is your third panel</p>
          </div>
          <div class="carousel-item grey lighten-2 white-text" href="#four!">
            <h2>Seat Yourself</h2>
            <p class="white-text">This is your fourth panel</p>
          </div>
        </div>
        <p class="welcome", style="margin-top: 10px;">Next: About Me</p>
        <a href="/pages/about" class="waves-effect waves-light btn red darken-4", style="margin-bottom: 50px; color: #bdbdbd;"><i class="material-icons">perm_identity</i></a>
      </div>
    </div>
  </body>
</html>
