/*
 *= require_tree .
 *= require_self
 */
body {
  text-align: center;
}

.logo {
  height: 48px;
  margin-top: 40px;
}

#intro-arrow {
  margin-top: 75px;
  color: #d50000;
}

.parallax-container {
  height: 460px !important;
  width: 100%;
}

.parallax-image {
  height: 800px;
  filter: brightness(40%);
}

.title {
  color: #b71c1c;
  letter-spacing: 5px;
  font-size: 30px;
  padding-top: 15px;
}

#intro-header {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

#skill-header {
  margin-top: 10px;
  margin-bottom: 50px;
}

.left-side {
  width: 48%;
  margin-right: 2%;
  float: left;
}

.right-side {
  width: 48%;
  margin-left: 2%;
  float: right;
}

.quarter {
  width: 23%;
  margin-left: 2%;
  float: left;
}

.three-quarters {
  width: 55%;
  margin-right: 2%;
  margin-left: 18%;
  margin-top: 15px;
  float: left;
}

// Contact button
.btn i {
  font-size: 3.0rem !important;
}

.waves-effect.waves-light {
  margin-top: 60px;
  padding-top: 8px;
  padding-bottom: 45px;
  background-color: transparent !important;
  border: solid 2px #b71c1c;
}

.waves-effect.waves-light:hover {
  background-color: #b71c1c !important;
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: white;
  color: white;
	height: 35px;
	border-radius: 10px;
}

.skillbar-title {
	position: absolute;
  width: 80px;
	font-weight: bold;
	font-size: 13px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	height: 35px;
	line-height: 35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.skillbar-title img {
  padding-top: 5px;
  padding-right: 3px;
  height: 32px;
  width: 32px;
}

.skillbar-bar {
	height: 35px;
	width: 0px;
	border-radius: 10px;
  padding-top: 7px;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
  color: #212121;
}

.grey-row {
  background-color: #e0e0e0;
  clear: both;
}

/*To ensure cards load on refresh*/
.carousel-slider {
  height: 562px !important;
}

.carousel-item img {
  height: 600px;
}

#carousel-title {
  font-weight: 300;
  margin-top: 0;
}

.profile-pic {
  height: 175px;
  border-radius: 40px;
  max-width: 360px;
}

.code-link {
  color: #b71c1c;
  font-weight: bold;
}

.code-link:hover {
  color: #d50000;
}

.indicators {
  margin-bottom: 20px !important;
}

.indicators .indicator-item {
  background-color: #b71c1c !important;
  height: 10px !important;
  width: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.indicators .indicator-item.active {
  background-color: white !important;
}

.line {
  text-align: left;
}

.lone-icon,
#about-icon,
.about-info {
  display: inline;
  vertical-align: middle;
}

.lone-icon:hover,
.contact-icon:hover {
  filter: brightness(60%);
}

.about-link:hover {
  p {
    color: #b71c1c;
  }
  filter: brightness(60%);
}

.pdf-info {
  display: inline;
  vertical-align: top;
  color: black;
}

.lone-icon,
.contact-icon {
  height: 40px;
}

#about-icon {
  height: 28px;
  margin-right: 5px;
  color: #b71c1c;
}

.about-info {
  color: black !important;
}

#bio-text {
  color: black;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: justify;
}

.contact-icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.divider {
  margin-bottom: 30px;
}

.error-header,
.error-list,
.error-msg {
  color: white;
}

@media only screen and (max-width: 480px) {
  .brand-logo {
    max-width: 270px;
  }

  #carousel-title {
    font-size: 20px;
  }

  .welcome,
  .play,
  #skills-header {
    font-size: 16px;
  }

  .carousel-slider {
    height: 534px !important;
  }

  .profile-pic {
    height: 150px;
  }

  #bio-text {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .brand-logo {
    width: 350px;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .skillbar-title {
    width: 65px;
  }

  .carousel-item img {
    height: 500px;
  }

  .indicators .indicator-item {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  #bio-text {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1065px) {
  .skillbar-title {
    width: 65px;
  }
}
