/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: black;
  text-align: center;
  color: #fff;
}

nav {
  background-color: black !important;
}

.side-nav {
  width: 200px !important;
}

.brand-nav-logo {
  padding-top: 7px !important;
}

.brand-nav-logo img {
  height: 32px;
}

.brand-logo img {
  height: 32px;
  margin-top: 15px;
}

.nav-mobile a.waves-effect {
  width: 100%;
}

#nav-mobile a {
  padding-left: 25px;
  padding-right: 25px;
}

#nav-mobile a.waves-effect:hover {
  background-color: #212121;
}

#slide-out a.waves-effect:hover {
  background-color: #bdbdbd;
}

#side-nav-button {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 15px;
}

#side-nav-button:hover {
  color: #bdbdbd;
}

.intro-arrow {
  width: 64px;
  margin-top: 150px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(00deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.neon-glow a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.neon-glow p:nth-child(1) a {
  padding-top: 58px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 64px;
  color: #d50000;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d50000, 0 0 70px #d50000, 0 0 80px #d50000, 0 0 100px #d50000, 0 0 150px #d50000;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d50000, 0 0 35px #d50000, 0 0 40px #d50000, 0 0 50px #d50000, 0 0 75px #d50000;
  }
}

@-moz-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d50000, 0 0 70px #d50000, 0 0 80px #d50000, 0 0 100px #d50000, 0 0 150px #d50000;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d50000, 0 0 35px #d50000, 0 0 40px #d50000, 0 0 50px #d50000, 0 0 75px #d50000;
  }
}

@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d50000, 0 0 70px #d50000, 0 0 80px #d50000, 0 0 100px #d50000, 0 0 150px #d50000;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d50000, 0 0 35px #d50000, 0 0 40px #d50000, 0 0 50px #d50000, 0 0 75px #d50000;
  }
}

.page {
  height: 550px;
}

.parallax-container {
  height: 460px !important;
  width: 100%;
}

.parallax-one {
  height: 800px;
  opacity: 0.6;
}

.headers {
  color: #b71c1c;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#skills-header {
  color: white;
}

#middle {
  margin-top: 10px;
}

.left-side {
  width: 48%;
  margin-right: 2%;
  float: left;
}

.right-side {
  width: 48%;
  margin-left: 2%;
  float: right;
}

.welcome,
.play {
  color: #bdbdbd;
  margin-left: 30px;
  margin-right: 30px;
}

.waves-effect.waves-light:hover {
  background-color: #d50000 !important;
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #eee;
	height: 35px;
	border-radius: 10px;
}

.skillbar-title {
	position: absolute;
  width: 80px;
	font-weight: bold;
	font-size: 13px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	height: 35px;
	line-height: 35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.skillbar-title img {
  padding-top: 5px;
  padding-right: 3px;
  height: 32px;
  width: 32px;
}

.skillbar-bar {
	height: 35px;
	width: 0px;
	border-radius: 10px;
  padding-top: 7px;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
  color: #616161;
}

/*To ensure cards load on refresh*/
.carousel-slider {
  height: 634px !important;
}

.carousel-item img {
  height: 550px;
}

#carousel-top-title {
  margin-top: 140px;
  margin-right: 7%;
  margin-left: 7%;
}

.card-content img {
  height: 175px;
}

.code-link {
  color: #b71c1c;
  font-weight: bold;
}

.code-link:hover {
  color: #d50000;
}

.about-info,
#about-icon {
  display: inline-block;
  vertical-align: middle;
}


#about-icon {
  color: #b71c1c
}

.about-info {
  color: black !important;
  margin-bottom: 10px;
}

.pdf-icon {
  height: 22px !important;
  margin-right: 7px;
}

#bio-text {
  color: black;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: justify;
}

.contact-icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  .brand-logo {
    max-width: 300px;
  }

  #carousel-top-title {
    font-size: 24px;
    margin-top: 110px;
  }

  #carousel-title {
    font-size: 20px;
  }

  .welcome,
  .play,
  #skills-header,
  #carousel-info {
    font-size: 16px;
  }

  .carousel-slider {
    height: 534px !important;
  }
}

@media only screen and (max-width: 601px) {
  .brand-logo img {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .brand-logo {
    width: 350px;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .skillbar-title {
    width: 65px;
  }
}

@media only screen and (max-width: 1065px) {
  .skillbar-title {
    width: 65px;
  }
}
