.ttt-left {
  width: 25%;
  margin-left: 5%;
  float: left;
}

.ttt-middle {
  width: 35%;
  margin-left: 2.5%;
  float: left;
}

.ttt-right {
  width: 25%;
  margin-right: 5%;
  float: right;
}


#board {
  width: 300px;
  height: 300px;
  /*border: 1px solid #dadada;*/
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

#board > li {
  list-style: none;
  float: left;
  overflow: hidden;
  text-decoration:none;
  width: 100px;
  height: 100px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-right: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#board > li.x {
  font-size: 40px;
  color: #b71c1c;
}

#board > li.o {
  font-size: 40px;
  color: #37474f;
}

#board > li:hover {
  background: #e0e0e0;
}

#board > li:active {
  width: 100px;
  height: 100px;
  border: 0;
}

#info {
  text-align:center;
  margin-top: 10px;
  margin-bottom: 15px;
}

#player-turn > span,
#alerts > span {
  display: none;
  color: #b71c1c;
}

#score > span {
  color: #b71c1c
}

#player-turn.x span.x,
#player-turn.o span.o,
#alerts.px-win > span.px-win,
#alerts.po-win > span.po-win,
#alerts.draw > span.draw {
  display: block;
  font-size: 18px;
}

#alerts.px-win > span.px-win,
#alerts.po-win > span.po-win,
#alerts.draw > span.draw {
  margin-top: 0;

}

#player-turn.x span.x,
#player-turn.o span.o {
  margin-top: 20px;
}

#restart {
  text-align: center;
  border: none;
  padding: 0.6em 1.2em;
  background: #bdbdbd;
  color: black;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 32px;
}

#reset-1,
#reset-2 {
  text-align: center;
  border: none;
  padding: 0.4em 0.6em;
  background: #bdbdbd;
  color: black;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  margin-left: 5px;
  border-radius: 32px;
}

#reset-1:hover,
#reset-2:hover,
#restart:hover {
  color: #b71c1c;
}

.sub-header {
  font-size: 18px;
  margin-top: 0;
}
